.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  float: left;
}

nav ul li div {
  display: block;
  padding: 8px;
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
}

nav ul li div:hover {
  background: rgb(190, 190, 190);
  color: white;
  cursor: pointer;
}

#footer {
  position: fixed;
  overflow: hidden;
  background-color: white;
  bottom: 0; /* Position the footer at the bottom of the page */
  width: 100%; /* Full width */
}

#footer a{
  color: inherit;
}

#main {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin-top: 40px;
}

.view {
  display: flex;
  align-content: center;
  height: 100%;
  scroll-snap-align: start;
}

/* Image Scaling */
.responsive_image {
  max-width: 100%;
  height: auto;
}